[submodule "java-app"]
	path = java-app
	url = git@github.com:Joeri-Abbo/techworld-with-nana-java-app.git
[submodule "developing-with-docker"]
	path = developing-with-docker
	url = git@github.com:Joeri-Abbo/techworld-with-nana-developing-with-docker.git
[submodule "java-maven-app"]
	path = java-maven-app
	url = git@github.com:Joeri-Abbo/techworld-with-nana-java-maven-app.git
[submodule "java-react-example"]
	path = java-react-example
	url = git@github.com:Joeri-Abbo/techworld-with-nana-java-react-example.git
[submodule "react-nodejs-example"]
	path = react-nodejs-example
	url = git@github.com:Joeri-Abbo/techworld-with-nana-react-nodejs-example.git
[submodule "techworld-with-nana-jenkins-shared-libary"]
	path = techworld-with-nana-jenkins-shared-libary
	url = git@github.com:Joeri-Abbo/techworld-with-nana-jenkins-shared-libary.git
[submodule "techworld-with-nana-aws-services"]
	path = techworld-with-nana-aws-services
	url = git@github.com:Joeri-Abbo/techworld-with-nana-aws-services.git
